:root
{
    --color-white: #FFFFFF;
    --color-background: #ebf2f5;

    --font-default: Nunito, sans-serif;

    --button-default-color: #ffd666;
    --button-default-color-hover: #96FEFF;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root
{
    height: 100vh;

}

body
{
    color: var(--color-white);
    background: var(--color-background);
}

body, input, button, textarea
{
    font: 600 1.125rem var(--font-default);
}
